/* TODO Add site wide styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

body {
    background-color: #101010;
}

/* font-family: 'Bebas Neue', sans-serif; */
/* font-family: 'Questrial', sans-serif;*/
