#Dropdown-container-content{
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 100px;
    right: 40px;
    border-radius: 15px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 250px;
    width: 250px;
}


#cart-items-wrapper{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-left: 10px;
}

#checkout-button {
    margin-left: 10px;
    border: none;
    background-color: red;
    border-radius: 5px;
    padding: 5px;
    color: white;
}
#checkout-button:hover {
    cursor: pointer;

}

#delete-cart-item:hover{
    cursor: pointer;
}

#no-cart-items {
    align-self: center;
    padding-top: 20px;
}

#cart-item {
    align-self: center;
    justify-content: center;
}

#cart-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#add-one-quantity:hover {
    cursor: pointer;
}
