#Dropdown-container-content{
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 100px;
    right: 40px;
    border-radius: 15px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 250px;
    width: 250px;
}


#cart-items-wrapper{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-left: 10px;
}

#checkout-button {
    margin-left: 10px;
    border: none;
    background-color: red;
    border-radius: 5px;
    padding: 5px;
    color: white;
    align-self: flex-end;
}
#checkout-button:hover {
    cursor: pointer;
}

#delete-cart-item {
    margin-right: .3rem;
}

#delete-cart-item:hover{
    cursor: pointer;
}

#no-cart-items {
    align-self: center;
    padding-top: 20px;
}

#cart-item {
    align-self: center;
    justify-content: center;
}
#cart-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#cart-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#add-one-quantity:hover {
    cursor: pointer;
}

#checkout-button-wrapper {
    display: flex;
    justify-content: end;
    align-items: flex-end;
    padding: .3rem;
}


#Cart-Wrapper-dropdown {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#quantity-checker {
    display: flex;
    flex-direction: row;
}

#dropdown-close {
    align-self: self-end;
    padding: .2rem;
}

#dropdown-close:hover {
    cursor: pointer;
}
